## Configuration
# Systemd       => redis.conf
# Type=notify   => daemonize no,    supervised systemd
# Type=exec     => daemonize no,    supervised no
# Type=forking  => daemonize yes,   supervised no

[Unit]
Description=Redis Server
Documentation=https://redis.io/commands/
Requires=network-online.target
After=network-online.target

[Service]
Type=notify
User=redis
Group=redis
EnvironmentFile=-/etc/sysconfig/redis
WorkingDirectory=/var/lib/redis
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
ExecStop=/usr/bin/redis-cli -p 6379 shutdown
ExecReload=/bin/kill -USR2 $MAINPID
#KillSignal=SIGTERM
#TimeoutStartSec=10
#TimeoutStopSec=10
PIDFile=/var/run/redis/redis.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
